<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="elgentos_largeconfigproducts_prewarmer" xsi:type="object">Elgentos\LargeConfigProducts\Console\Command\PrewarmerCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="\Elgentos\LargeConfigProducts\Console\Command\PrewarmerCommand">
        <arguments>
            <argument name="prewarmer" xsi:type="object">Elgentos\LargeConfigProducts\Model\Prewarmer\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product\Action">
        <plugin sortOrder="1" name="elgentosLargeConfigProductsAfterUpdateAttributes"
                type="Elgentos\LargeConfigProducts\Plugin\Product\Action\AfterUpdateAttributesPlugin" />
    </type>
    
    <type name="Magento\ConfigurableProduct\Model\AttributeOptionProvider">
        <plugin sortOrder="1" name="elgentosLargeConfigProductsAttributeOptionProvider"
                type="Elgentos\LargeConfigProducts\Plugin\Model\AttributeOptionProviderPlugin"/>
    </type>

    <preference for="Magento\Framework\View\TemplateEngine\Xhtml\Template"
                type="Elgentos\LargeConfigProducts\Model\View\TemplateEngine\Xhtml\Template" />

    <preference for="Magento\ConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider"
                type="Elgentos\LargeConfigProducts\Pricing\Price\LowestPriceOptionsProvider" />

    <type name="Elgentos\LargeConfigProducts\Pricing\Price\LowestPriceOptionsProvider">
        <arguments>
            <argument name="linkedProductSelectBuilder" xsi:type="object">Magento\ConfigurableProduct\Model\ResourceModel\Product\LinkedProductSelectBuilder</argument>
        </arguments>
    </type>

</config>
